.clearfix {
    clear: both;
}

.clearfix:after {
    clear: both;
    content: "";
    display: block;
    height: 0;
    visibility: hidden;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.pager {
    max-width: 800px;
    text-align: center;
    margin-bottom: 30px;
    display: inline-block;
}

.pager a {
    cursor: pointer;
}

.pager a,
.pager span {
    width: 45px;
    height: 40px;
    border: 1px solid #EBEBEB;
    margin-left: -1px;
    color: #8a8a8a;
    display: inline-block;
    line-height: 40px;
    float: left;
    font-size: 15px;
    text-decoration: none;
    margin: 0 2px;
    border-radius: 6px;
}

.pager a:hover,
.pager span:hover {
    border-color: #3897cd;
    color: #3897cd;
    position: relative;
    z-index: 1;
}

.pager span.current {
    background-color: #222A35;
    color: #fff;
    border-color: #EBEBEB;
    position: relative;
    z-index: 1;
}

.pager .pg-first,
.pager .pg-prev,
.pager .pg-next,
.pager .pg-last {
    background: url(../images/page_bg.png) 8px 7px no-repeat;
}

.pager .pg-first:hover,
.pager .pg-prev:hover,
.pager .pg-next:hover,
.pager .pg-last:hover {
    background: url(../images/page_bg_hover.png) 8px 7px no-repeat;
}

.pager .pg-prev,
.pager .pg-prev:hover {
    background-position: 7px -21px;
}

.pager .pg-next,
.pager .pg-next:hover {
    background-position: -21px -21px;
}

.pager .pg-last,
.pager .pg-last:hover {
    background-position: -21px 7px;
}

.pager .pg-prev[disabled='true'],
.pager .pg-prev[disabled='true']:hover {
    cursor: default;
    background-image: url(../images/page_bg.png);
}

.pager .pg-next[disabled='true'],
.pager .pg-next[disabled='true']:hover {
    cursor: default;
    background-image: url(../images/page_bg.png);
}

.pager .pg-prev[disabled='true'],
.pager .pg-next[disabled='true'] {
    border-color: #eeeeee;
}

.pager span.els {
    border-color: transparent;
}

.pagerHtmlWrap {
    width: 800px;
    margin: 30px auto;
}

.pagerHtmlWrap .cc_cells {
    width: 100%;
    height: 35px;
    padding: 5px 0;
    border-bottom: 1px #cccccc solid;
}

.pagerHtmlWrap .cc_cells a {
    color: #454545;
    font-size: 14px;
    line-height: 35px;
    text-decoration: none;
}

.pagerHtmlWrap .cc_cells a span {
    display: inline-block;
    width: 25%;
    text-align: left;
    margin: 0;
}

.pager-wrap {
    display: flex;
    justify-content: center;
}

span.forbidden {
    cursor: no-drop;
}

