<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!-- 导入配置文件 -->
    <!-- 设置mybatis运行时行为 -->
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>
    <!-- 取别名 -->
    <typeAliases>
        <package name="com.ericjin.javadmin.beans"/>
    </typeAliases>
    <!-- 插件配置 -->
    <plugins>
        <!-- 配置分页 -->
        <plugin interceptor="com.github.pagehelper.PageInterceptor"></plugin>
    </plugins>
    <!-- 配置环境 -->
    <!-- 映射文件 -->
    <mappers>
        <mapper resource="mybatis/userMapper.xml"/>
        <mapper resource="mybatis/superMapper.xml"/>
    </mappers>
</configuration>


