<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="UTF-8">
    <title>
        修改
        <shiro:principal property="username"></shiro:principal>
        的密码
    </title>

    <link th:href="@{/static/plugins/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/static/css/change_password.css}">
    <script th:src="@{/static/js/jq/jquery.min.js}"></script>
    <script th:src="@{/static/plugins/bootstrap/js/bootstrap.min.js}"></script>

    <link th:href="@{/static/plugins/layui/css/layui.css}" rel="stylesheet">
    <script th:src="@{/static/plugins/layui/layui.js}"></script>
</head>
<body>
<div th:replace="header :: header"></div>
<div class="container">
    <ol class="breadcrumb">
        <li><a th:href="@{/admin}">首页</a></li>
        <li><a href="javascript:void(0);">修改密码</a></li>
    </ol>
    <div class="page-header">
        <blockquote class="layui-elem-quote">
            修改
            <shiro:authenticated>
                <shiro:principal property="username"></shiro:principal>
            </shiro:authenticated>
            的密码
        </blockquote>
    </div>
    <form class="area layui-form" id="form_list">
        <div id="user_id" style="display: none;">
            <shiro:principal property="id"></shiro:principal>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">旧密码:</label>
            <div class="layui-input-inline">
                <input type="password" name="old_password" required lay-verify="required" placeholder="请输入旧密码"
                       autocomplete="off" class="layui-input" onblur="oldPassword(this)">
            </div>
            <div class="layui-form-mid" id="old_password_tip"></div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">新密码:</label>
            <div class="layui-input-inline">
                <input type="password" name="new_password" required lay-verify="required" placeholder="请输入新密码"
                       autocomplete="off" class="layui-input" oninput="newPassword(this)">
            </div>
            <div class="layui-form-mid" id="new_password_tip"></div>
        </div>

        <blockquote class="layui-elem-quote layui-quote-nm password-tips">
            密码不能小于8位 <br>
            密码不能为空 <br>
            密码不能是纯数字
        </blockquote>

        <div class="layui-form-item">
            <label class="layui-form-label">确定新密码:</label>
            <div class="layui-input-inline">
                <input type="password" name="confirm_password" required lay-verify="required" placeholder="确认新密码"
                       autocomplete="off" class="layui-input" oninput="confirPassword(this)">
            </div>
            <div class="layui-form-mid" id="confirm_password_tip"></div>
        </div>
    </form>

    <div class="alert alert-warning edit-area" role="alert">
        <button type="button" class="btn btn-danger" onclick="changePassword()">修改密码</button>
    </div>
</div>
<script>
    let OLDPASSWORD = false;
    let NEWPASSWORD = false;
    let CONFIRMPASSWORD = false;

    layui.use('form', function () {
        layui.form;
    });

    /**
     * 旧密码验证
     * @param self
     */
    function oldPassword(self) {
        let userId = $("#user_id").html().trim();
        let oldPassword = $(self).val();
        $.ajax({
            url: "/admin/change_password/old_password",
            type: "post",
            data: {
                "user_id": userId,
                "old_password": oldPassword,
            },
            success(args) {
                if (args === "0") {
                    $("#old_password_tip").html("原密码错误，请重新填写！");
                    OLDPASSWORD = false;
                } else {
                    $("#old_password_tip").html("");
                    OLDPASSWORD = true;
                }
            }
        });
    }

    /**
     * 新密码验证
     * @param self
     */
    function newPassword(self) {
        // 获取新密码
        let new_password = $(self).val();
        if (new_password.length < 8) {
            $("#new_password_tip").html("密码长度不能小于8位");
            NEWPASSWORD = false;
        } else if (/^[0-9]+$/.test(new_password)) {
            $("#new_password_tip").html("密码不能全部为数字");
            NEWPASSWORD = false;
        } else {
            $("#new_password_tip").html("");
            NEWPASSWORD = true;
        }
    }

    /**
     * 二次密码验证
     * @param self
     */
    function confirPassword(self) {
        let conform_password = $(self).val();
        if (conform_password !== $("input[name=new_password]").val()) {
            $("#confirm_password_tip").html("两次密码输入不一致");
            CONFIRMPASSWORD = false;
        } else {
            $("#confirm_password_tip").html("");
            CONFIRMPASSWORD = true;
        }
    }

    /**
     * 更新密码
     */
    function changePassword() {
        if (OLDPASSWORD && NEWPASSWORD && CONFIRMPASSWORD) {
            // 验证通过
            let userId = $("#user_id").html().trim();
            let newPassword = $("input[name=new_password]").val();
            $.ajax({
                url: "/admin/change_password/change",
                type: "post",
                data: {
                    "user_id": userId,
                    "new_password": newPassword,
                },
                success(args) {
                    if (args === "1") {
                        layer.msg('修改成功', {icon: 1, offset: "150px"});
                        $("#form_list").get(0).reset();
                    } else {
                        layer.msg('修改失败', {icon: 5, offset: "150px"});
                    }
                }
            });
        }
    }
</script>
</body>
</html>