<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>JAVA ADMIN LOGIN</title>
    <link rel="stylesheet" th:href="@{/static/css/login.css}">
</head>
<body>

<div class="materialContainer">
    <form class="box" method="post" th:action="@{/admin/login}">
        <div class="title">Java Admin 登录</div>
        <div class="input">
            <label for="name">邮箱地址</label>
            <input type="text" name="email" id="name" autocomplete="off">
            <span class="spin"></span>
        </div>
        <div class="input">
            <label for="pass">密码</label>
            <input type="password" name="password" id="pass">
            <span class="spin"></span>
        </div>
        <div class="button login">
            <button>
                <span>登录</span>
                <i class="fa fa-check"></i>
            </button>
        </div>
        <a href="javascript:void(0);" class="pass-forgot" th:if="${error}" style="color: #f00;">[[ ${error} ]]</a>
    </form>
</div>

<script th:src="@{/static/js/jq/jquery.min.js}"></script>
<script th:src="@{/static/js/login.js}"></script>

</body>
</html>
