.breadcrumb {
    margin-top: 51px;
}

.edit-area {
    display: flex;
    justify-content: flex-end;
}

.layui-form-label {
    width: 150px !important;
    text-align: left !important;
}

.layui-form-mid {
    color: #f00 !important;
}

.password-tips {
    margin-left: 150px;
    color: #999;
    font-size: 14px;
}

