.breadcrumb {
    margin-bottom: 0;
    margin-top: 51px;
}

.page-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.page-header button {
    height: 34px;
}

.panel-default {
    border: none;
}


