<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ericjin.sirvia.mapper.SuperMapper">
    <!-- 获取所有数据 -->
    <select id="getAll" resultType="map">
        SELECT * FROM ${table_name}
    </select>

    <!-- 添加一条数据 -->
    <insert id="addTable">
        INSERT INTO ${table_name}
        <foreach collection="data_map" index="key" separator="," open="(" close=")">
            ${key}
        </foreach>
        VALUES
        <foreach collection="data_map" item="val" separator="," open="(" close=")">
            #{val}
        </foreach>
    </insert>

    <!-- 查询一条数据 -->
    <select id="getOneRecord" resultType="map">
        SELECT * FROM ${table_name} WHERE id = #{id}
    </select>

    <!-- 更新一条数据 -->
    <update id="updateTable">
        UPDATE ${table_name} SET
        <foreach collection="data_map" index="key" item="val" separator=",">
            ${key} = #{val}
        </foreach>
        WHERE id = #{id}
    </update>

    <!-- 删除一条字段 -->
    <delete id="deleteTable">
        DELETE FROM ${table_name} WHERE id = #{id}
    </delete>

    <!-- 获取外键关联的表信息 -->
    <select id="getForeignInfo" resultType="map">
        SELECT ${relation_key}, ${show_field} FROM ${table_name}
    </select>

    <!-- 获取最新插入的id -->
    <select id="getId" resultType="string">
        SELECT @@IDENTITY
    </select>

    <!-- 根据添加的id查询要在第三张表中插入的数据 -->
    <select id="manyToManySelfId" resultType="string">
        SELECT ${select_field} FROM ${table_name} WHERE id = #{id}
    </select>

    <!-- 多对多时将数据插入第三张表 -->
    <insert id="thirdInsert">
        INSERT INTO ${third_table}(${relation_field}, ${self_field}) VALUE (#{relation_val}, #{self_val})
    </insert>

    <!-- 查询某个值在第三张表中的全部结果 -->
    <select id="getThirdInfo" resultType="map">
        SELECT ${relation_field}, ${self_field} FROM ${third_table} WHERE ${self_field} = #{select_value}
    </select>

    <!-- 从以三张表中移除数据 -->
    <delete id="removeFromThirdTable">
        DELETE FROM ${third_table} WHERE ${third_self_field} = #{select_id}
    </delete>

    <!-- 获取所有的表 -->
    <select id="getAllTables" resultType="string">
        SHOW TABLES
    </select>

    <update id="executeSql">
        ${sql}
    </update>

    <select id="getThirdDeleteInfo" resultType="integer">
        SELECT id FROM ${third_table_name} WHERE ${third_self_field} = #{current_id}
    </select>
</mapper>

